* {
  all: unset; // Unsets everything so you can style everything from scratch
}

.bar {
  border-radius: 8px;
  background: $background;
  color: #CCCCCC;
  font-family: "Mononoki Nerd Font Propo";
  font-weight: bolder;
  font-size: 17px;
  opacity: 0.85;
  margin: 0px 6px;
  padding: 3px;
}

tooltip.background {
  border-radius: 8px;
  background: $background;
  color: $accent;
  opacity: 0.85;
  font-family: monocraft;
}

.ntf button {
  margin: 3px 2px;
  padding: 0px 12px 0px 4px;
  color: $font;
  background: $background-alt;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.ntf button:hover {
  background: $accent;
  color: $font-dark;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.aw {
  background: $background-alt;
  padding: 0px 4px;
  border-radius: 5px;
}

.pwr {
  padding: 2px ;
  background: $background-alt;
  color: $font;
  border-radius: 5px;
}

.pwr button {
  padding: 0px 4px;
  color: $font;
  background: $background-alt;
  border: none;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.pwr button:hover {
  background: $accent;
  color: $font-dark;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.stngs {
  padding: 2px 2px;
  background: $background-alt;
  color: $font;
  border-radius: 5px;
}

.stngs button {
  padding: 0px 7px;
  color: $font;
  background: $background-alt;
  border: none;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.stngs button:hover {
  background: $accent;
  color: $font-dark;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.tme {
  padding: 2px;
  color: $font;
  background: $background-alt;
  border: none;
  border-radius: 5px;
}

.tme button {
  background: $background-alt;
  color: $font;
  padding: 0px 2px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.tme button:hover {
  background: $accent;
  color: $font-dark;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.vlm {
  padding: 0px 4px;
  color: $font;
  background: $background-alt;
  border: none;
  border-radius: 5px;
}

.cava {
  padding: 0px 4px;
  color: $font;
  background: $background-alt;
  border: none;
  border-radius: 5px;
}

.kbl {
  padding: 0px 4px;
  color: $font;
  background: $background-alt;
  border: none;
  border-radius: 5px;
}

.lnchr {
  padding: 2px;
  background: $background-alt;
  color: $font;
  border-radius: 5px;
}

.lnchr button {
  padding: 0px 4px 0px 3px;
  color: $accent;
  background: $background-alt;
  border: none;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.lnchr button:hover {
  background: $accent;
  color: $font-dark;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.bg {
  padding: 2px;
  background: $background-alt;
  color: $font;
  border-radius: 5px;
}

.bg button {
  padding: 0px 4px;
  color: $font;
  background: $background-alt;
  border: none;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.bg button:hover {
  background: $accent;
  color: $font-dark;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.msc {
  font-family: "Noto Sans CJK HK";
  font-size: 13px;
  padding: 2px;
  color: $font;
  background: $background-alt;
  border: none;
  border-radius: 5px;
}

.msc button {
  padding: 0px 2px;
  background: transparent;
  color: $font;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.msc button:hover {
  background: $accent;
  color: $font-dark;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.ws {
  padding: 2px;
  color: $font;
  background: $background-alt;
  border-radius: 5px;
}

// Базовые стили для всех кнопок воркспейсов
.ws button {
  background: transparent;
  color: $font;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

// Стили для разных состояний воркспейсов
.ws button.active {
  background: $accent;
  padding: 0px 20px;
}

.ws button.urgent {
  background: #FF4444;
  color: #FFFFFF;
  border-radius: 2px;
  padding: 0px 5px;
  animation: pulse 1s infinite;
}

.ws button.occupied {
  color: $font;
  background: $font;
  padding: 0px 10px;
}

.ws button.empty {
  color: #666666;
  background: #666666;
  padding: 0px 10px;
}

// hover Стили для разных состояний воркспейсов
.ws button.active:hover {
  background: $accent;
  color: $font-dark;
}

.ws button.urgent:hover {
  color: #FF4444;
  background: #FFFFFF;
  border-radius: 2px;
  animation: pulse 1s infinite;
}

.ws button.occupied:hover {
  background: $accent;
  color: $font-dark;
  transition: all 0.2s ease-in-out;
}

.ws button.empty:hover {
  background: $accent;
  color: $font-dark;
  transition: all 0.2s ease-in-out;
}

// Анимация для urgent воркспейсов
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.7; }
  100% { opacity: 1; }
}

* .lbl-clr {
  color: $accent;
  transition: all 0.2s ease-in-out;
}

button .lbl-clr {
  color: $accent;
  transition: all 0.2s ease-in-out;
}

button:hover .lbl-clr {
  color: $font-dark;
  transition: all 0.2s ease-in-out;
}

// calendar
.cal {
  font-family: mononoki;
  font-size: 15px;
  font-weight: bold;
  color: $font;
  background: $background;
  border-radius: 8px;
  padding: 3px;
  opacity: 0.95;
  margin: 6px 0px 0px 0px;
}

.cal_wkds {
  background: $background-alt;
  color: $accent;
  border-radius: 5px;
}

.cal label {
  background: transparent;
  border-radius: 5px;
  padding: 3px 0px;
}

.cal label.omonth {
  color: #777777;
}

.cal label.tweekend {
  color: #f08f19;
}

.cal label.oweekend {
  color: #99580b;
}

.cal label.tmonth {
  color: $font;
}

.cal label.today {
  background: $accent;
  color: $font-dark;
}

// weather
.wther {
  font-family: "Mononoki Nerd Font Propo";
  font-size: 17px;
  font-weight: 600;
  background: $background;
  color: $font;
  border-radius: 8px;
  padding: 3px;
  opacity: 0.95;
  margin: 6px 0px 0px 0px;
}

.big_wthr {
  font-weight: 700;
  font-size: 85px;
}

.mid_wthr {
  font-weight: 700;
  font-size: 55px;
  margin: -10px 0px;
}
.big_wthr_clr {
  font-family: FreeSans;
  font-weight: 700;
  font-size: 75px;
  color: $accent;
}

.gray_wthr {
  color: #999999;
  font-weight: 400;
}

.week_wthr {
  padding: 0px 15px;
  background: $background-alt;
  border-radius: 5px;
}

// player
.plr {
  background: $background;
  color: $font;
  border-radius: 8px;
  padding: 3px;
  opacity: 0.95;
  margin: 6px 0px 0px 0px;
}

.plr-inf {
  min-width: 150px;
  font-size: 17px;
  background: $background-alt;
  margin: 0px 0px 0px 3px;
  padding: 45px 2px 0px 2px;
  border-radius: 5px;
}

.plr-art {
  background-size: cover;
  background-position: center;
  min-width: 205px;
  min-height: 205px;
  border-radius: 5px;
}

.plr-nav {
  background: $accent;
  font-size: 25px;
  border-radius: 3px;
  padding: 3px;
  margin: 15px 0px 2px 0px;
}

.plr-nav button {
  background: transparent;
  color: $font-dark;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.plr-nav button:hover {
  background: $background-alt;
  color: $accent;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
