/* eww.css */

* {
  all: unset;
}

.lnch {
  border-radius: 8px;
  background: $background;
  font-family: "Mononoki Nerd Font Propo";
  font-size: 19px;
  font-weight: bolder;
}

.lft {
  border-radius: 8px;
  padding: 3px;
  background: $background-alt;
}

.rght {
  padding: 3px;
}

.srch {
  border-radius: 5px;
  padding: 12px;
  background: $background-alt;
}

.inpt {
  color: #CCCCCC;
}

.btns {
  border-radius: 5px;
  background: $background;
  padding: 3px;
}

.btn {
  padding: 6px 32px;
  border-radius: 2px;
  background: $background-alt;
  color: #CCCCCC;
}

.btn.sel {
  background: #F5E7C1;
  color: #000000;
}

.elem {
  padding: 12px;
  color: #CCCCCC;
}

.elem:hover {
  border-radius: 5px;
  background: $background-alt;
}
