.notifications {
    min-height: 0px;
    background: transparent;
}

.notif {
    background: $background;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    font-family: mononoki;
    font-weight: bold;
}

.notif image {
    padding-right: 10px;
}
