.txt-s {
  font-size: 35px;
  opacity: 0.45;
  font-family: "FauxHanamin";
  font-weight: bolder;
  color: $accent;
}
.txt-b {
  font-size: 70px;
  opacity: 0.6;
  font-family: "FauxHanamin";
  font-weight: bolder;
  color: $accent;
}
