// Переменные
$corner-background: #000000;
$corner-size: 12px;

.rounded-corner-top-left {
    background: radial-gradient(circle at 100% 100%, transparent 65%, rgba(0, 0, 0, 1) 63%, rgba(0, 0, 0, 0.1) 7.25%, $corner-background 70%);
    min-width: $corner-size;
    min-height: $corner-size;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); // Тень для сглаживания
}

.rounded-corner-top-right {
    background: radial-gradient(circle at 0 100%, transparent 65%, rgba(0, 0, 0, 1) 63%, rgba(0, 0, 0, 0.1) 7.25%, $corner-background 70%);
    min-width: $corner-size;
    min-height: $corner-size;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.rounded-corner-bottom-left {
    background: radial-gradient(circle at 100% 0, transparent 65%, rgba(0, 0, 0, 1) 63%, rgba(0, 0, 0, 0.1) 7.25%, $corner-background 70%);
    min-width: $corner-size;
    min-height: $corner-size;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.rounded-corner-bottom-right {
    background: radial-gradient(circle at 0 0, transparent 65%, rgba(0, 0, 0, 1) 63%, rgba(0, 0, 0, 0.1) 7.25%, $corner-background 70%);
    min-width: $corner-size;
    min-height: $corner-size;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}


