.dash {
  background: $background;
  font-family: "Mononoki";
  color: $font;
  border-radius: 8px;
  padding: 3px;
  opacity: 0.95;
}

.dash-prfl {
  background: $background-alt;
  border-radius: 5px;
  padding: 3px;
}

.dash-prfl-image {
  border-radius: 3px;
  min-height: 270px;
  min-width: 270px;
  background-size: cover;
  background-position: center;
  padding: 0px 5px 0px 0px;
}

.dash-plr {
  background: $background-alt;
  border-radius: 5px;
  padding: 3px;
}

.dash-plr-art {
  background-size: cover;
  background-position: center;
  min-width: 305px;
  min-height: 305px;
  border-radius: 3px;
}

.dash-plr-nav {
  background: $accent;
  color: $font-dark;
  font-size: 25px;
  border-radius: 3px;
  padding: 3px;
  margin: 0px 0px 0px 0px;
}

.dash-plr-nav button {
  background: transparent;
  color: $font-dark;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.dash-plr-nav button:hover {
  background: $background-alt;
  color: $accent;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.dwther {
  font-family: "Mononoki Nerd Font Propo";
  font-size: 19px;
  font-weight: 600;
  background: $background-alt;
  color: $font;
  border-radius: 5px;
  padding: 3px;
}

.dbig_wthr {
  font-weight: 700;
  font-size: 95px;
}

.dmid_wthr {
  font-weight: 700;
  font-size: 55px;
  margin: -10px 0px;
}
.dbig_wthr_clr {
  font-family: FreeSans;
  font-weight: 700;
  font-size: 75px;
  color: $accent;
}

.dgray_wthr {
  color: #999999;
  font-weight: 400;
}

.dweek_wthr {
  padding: 0px 45px;
  background: $accent;
  color: $font-dark;
  border-radius: 3px;
}

.dash-tme {
  background: $background-alt;
  color: $font;
  border-radius: 5px;
  padding: 4px 0px;
}

.dash-sys {
  font-family: "Mononoki Nerd Font Propo";
  background: $background-alt;
  border-radius: 5px;
  padding: 3px 19px;
}

.icon-sys {
  background: #3A404C;
  border-radius: 4px;
  padding: 0px 3px 0px 3px;
}

.cpu_bar,
.mem_bar,
.gpu_bar,
scale trough {
  all: unset;
  background: #3A404C;
  border-radius: 4px;
  min-height: 15px;
  min-width: 321px;
}

.cpu_bar,
.mem_bar,
.gpu_bar,
scale trough highlight {
  all: unset;
  margin: 2px;
  border-radius: 2px;
}

.cpu_bar scale trough highlight {
  background: $accent;
}

.mem_bar scale trough highlight {
  background: $accent;
}

.gpu_bar scale trough highlight {
  background: $accent;
}

.dash-pwr {
  background: $background-alt;
  border-radius: 5px;
  font-size: 85px;
  padding: 3px;
}

.dash-pwr button {
  background: transparent;
  border-radius: 4px;
  padding: 0px 50px 0px 50px;
  transition: all 0.2s ease-in-out;
}

.dash-pwr button:hover {
  background: $accent;
  color: #000000;
  transition: all 0.2s ease-in-out;
}

.dash-text {
  background: $background-alt;
  border-radius: 5px;
  padding: 3px 55px;
}
