.sysvol {
  margin: 6px 0 0 0;
  background: $background;
  padding: 3px;
  border-radius: 8px;
  opacity: 0.9;
}

.sysvol scale trough {
  all: unset;
  background: $background-alt;
  border-radius: 5px;
  min-height: 10px;
  min-width: 200px;
}

.sysvol scale trough highlight {
  all: unset;
  margin: 2px;
  border-radius: 3px;
  background: $accent;
}

.sysvol label {
  font-family: "Mononoki Nerd Font Propo";
  margin: -2px 0;
  font-size: 11px;
  min-width: 18px;
  color: $accent;
}

.sysbright {
  margin: 6px 0 0 0;
  background: $background;
  padding: 3px;
  border-radius: 8px;
  opacity: 0.9;
}

.sysbright scale trough {
  all: unset;
  background: $background-alt;
  border-radius: 5px;
  min-height: 10px;
  min-width: 200px;
}

.sysbright scale trough highlight {
  all: unset;
  margin: 2px;
  border-radius: 3px;
  background: $accent;
}

.sysbright label {
  font-family: "Mononoki Nerd Font Propo";
  margin: -2px 0;
  font-size: 11px;
  min-width: 18px;
  color: $accent;
}
